<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

<form class='search-box' action="{% url 'search:index' %}" method="post">
    {% csrf_token %}
    <p>
        <input name="query" class="input-search" type="text" placeholder="What are you looking for ?" value="{{ q }}">
    </p>
</form>
<br><br><br>
<div class='results'>
    {% if docs %}
    <span>Найдено {{ docs|length }} результатов</span>
    {% endif %}
    <br>
    {% for data, url in docs %}
    <br>
    <span>{{ forloop.counter }}. </span> <a href="{{ url }}">{{ data|truncatechars:100 }}</a>
    <br>
    <hr>
    {% endfor %}
</div>
</body>
</html>